 
.footer-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #111827;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
}

.footer-link {
  color: #4b5563;
  cursor: pointer;
  width: fit-content;

  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.footer-link:hover {
  color: black;
  transform: translateX(4px);
}

.footer-mini-link {
  color: #6b7280;
  font-size: 14px;
  cursor: pointer;

  transition: color 0.3s ease;
}

.footer-mini-link:hover {
  color: black;
}
